body{
    margin:0;
    padding:0;
    background-color: rgb(34, 252, 205);    
}
#countdown{
    display: flex;
    justify-content: center;
    padding:10%;
    color:rgb(174, 20, 225) ;
    text-align: center;
    text-transform: capitalize;
    font-size: 500%;
}
